<html>
<body>

<h1> Edit Menu Item </h1>

<form action="{{ url_for('editMenuItem',restaurant_id=restaurant_id, menu_id=item.id)}}" method = 'post'>

	<p>Name:</p>
	<input type ='text' size='30' name='name' value='{{item.name }}'>

	<p>Description:</p>
	<textarea name='description' rows='5' cols='40' value='{{item.description}}'></textarea>

	<p>Price:</p>
	<input type = 'text' size = '8' name='price' value='{{item.price}}'>

	<p>Course:</p>
	{% if item.course == 'Appetizer' %}
		<input type ='radio' name='course' value='Appetizer'checked >Appetizer
	{%else%}
		<input type ='radio' name='course' value='Appetizer' >Appetizer
    {% endif %}

    {% if item.course == 'Entree' %}
    	<input type ='radio' name='course' value='Entree' checked>Entree
    {%else%}
		<input type ='radio' name='course' value='Entree'>Entree
    {% endif %}

	{% if item.course == 'Dessert'%}
		<input type ='radio' name='course' value='Dessert'checked >Dessert
	{% else %}
	   	<input type ='radio' name='course' value='Dessert'>Dessert
	{% endif %}

	{%if item.course =='Beverage'%}
		<input type ='radio' name='course' value='Beverage'checked >Beverage
	{% else %}
		<input type ='radio' name='course' value='Beverage'>Beverage
	{% endif %}

	<input type='submit' value='Edit'>
</form>

<a href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'> Cancel </a>

</body>
</html>
