<html>
<h1>Menu for {{restaurant.name}}</h1>
<a href = '{{url_for( 'newMenuItem', restaurant_id=restaurant_id )}}'>Create New Menu Item for this Restaurant</a>

{% if items %}
	{% for i in items %}
		<p>{{i.name}} ({{i.course}}) -- {{i.description}}
			<br>{{i.price}}
			<br><span><a href="{{url_for( 'editMenuItem', restaurant_id=restaurant_id, menu_id=i.id )}}">Edit</a></span>
			<span><a href="{{url_for( 'deleteMenuItem', restaurant_id=restaurant_id, menu_id=i.id )}}">Delete</a></span>
			<br>
		</p>
	{% endfor %}
{% else %}
	<p>No items in menu!</p>
{% endif %}

</body>
</html>
