<html>
<body>
<h1>All Restaurants</h1>

<a href = '{{url_for('newRestaurant')}}'>Create New Restaurant</a>

{% if restaurants %}
	{% for r in restaurants %}
		<div>
			<p>{{r.name}}
				<span><a href="{{url_for('showMenu',restaurant_id=r.id)}}"> Menu</a></span>
				<span><a href="{{url_for('editRestaurant',restaurant_id=r.id)}}"> Edit</a></span>
				<span><a href="{{url_for('deleteRestaurant',restaurant_id=r.id)}}">Delete</a></span>
			</p>
		</div>
	{% endfor %}
{% else %}
	<p>No restaurants in list!</p>
{% endif %}

</body>
</html>
