<!--
	editinstrument.py
	item edit screen template for "Item Catalog" Project
	written by J K Thomson, 24 January 2019
-->
{% extends "layout.html" %}

{% block back %}
<div class="back-arrow">
    <a href="{{url_for('showInstrument', category_id=category_id, instrument_id=item.id)}}"> < Back</a>
</div>
{% endblock %}

{% block main %}
<nav>
    <h2>Edit Instrument</h2>
</nav>

<form action="{{ url_for('editInstrument', category_id=item.category_id, instrument_id=item.id)}}" method='post'>

	<h3> Edit {{item.name}} </h3>

	{% if message %}
	<p class="post-error"> {{message}} </p>
	{% endif %}

	<p>	<label>Name:</label>
		<input type ='text' name='name' value='{{item.name }}'>	</p>

	<p> <label>Description:</label>
		<textarea name='description' rows='5'>{{item.description}}</textarea> </p>

	<p> <label>Category:</label>
		{% if categories %}
			{% for c in categories %}
				{% if item.category_id == c.id %}
					<input type='radio' name='category' value='{{c.name}}' checked >{{c.name}}
				{%else%}
					<input type='radio' name='category' value='{{c.name}}'>{{c.name}}
			    {% endif %}
			{% endfor %}
		{% endif %}
	</p>

	<p> <label>Picture URL:</label>
		<input type ='text' name='picture_url' value='{{item.picture_url }}'> </p>

	<p> <label>Picture Attribution:</label>
		<textarea name='picture_attr'>{{item.picture_attr }}</textarea>	</p>

	<p> <input type='submit', value='Save'>
		<input type='button', value='Cancel',
			onclick="window.location.href='{{url_for('showInstrument', category_id=item.category_id, instrument_id=item.id)}}' "> </p>
</form>

{% endblock %}
