{% extends "layout.html" %}
{% block main %}

<nav>
    <h2>Add New Instrument</h2>
    <p>
        <a href="{{url_for( 'showCategory', category_id=category.id)}}">Return to Orchestra</a>
    </p>
</nav>

<form action="{{ url_for('newInstrument', category_id=category_id)}}" method='post'>

	<p>Name:</p>
	<input type ='text' size='30' name='name'>

	<p>Description:</p>
	<textarea name='description' rows='5' cols='40'></textarea>

	<p>Category:</p>
	{% if categories %}
		{% for c in categories %}
			{% if category_id == c.id %}
				<input type='radio' name='category' value='{{c.name}}' checked >{{c.name}}
			{%else%}
				<input type='radio' name='category' value='{{c.name}}'>{{c.name}}
		    {% endif %}
		{% endfor %}
	{% endif %}

	<p>Picture URL:</p>
	<input type ='text' size='200' name='picture_url'>

	<p>Picture Attribution:</p>
	<input type ='text' size='200' name='picture_attr'>

	<input type='submit' value='Add Instrument'>
</form>

<a href = '{{url_for('showCategory', category_id=category_id)}}'> Cancel </a>

{% endblock %}