{% extends "layout.html" %}

{% block back %}
<div class="back-arrow">
    <a href="{{url_for('showCategory', category_id=category_id)}}"> < Back</a>
</div>
{% endblock %}

{% block main %}
<nav>
    <h2>Add New Instrument</h2>
</nav>

<form action="{{ url_for('newInstrument', category_id=category_id)}}" method='post'>

	<h3> Fill in the details for this instrument </h3>

	<p>
		<label>Name:</label>
		<input type ='text' name='name'>
	</p>
	<p>
		<label>Description:</label>
		<textarea name='description' rows='5'></textarea>
	</p>
	<p>
		<label>Category:</label>
		{% if categories %}
			{% for c in categories %}
				{% if category_id == c.id %}
					<input type='radio' name='category' value='{{c.name}}' checked >{{c.name}}
				{%else%}
					<input type='radio' name='category' value='{{c.name}}'>{{c.name}}
			    {% endif %}
			{% endfor %}
		{% endif %}
	</p>
	<p>
		<label>Picture URL:</label>
		<input type ='text' name='picture_url''>
	</p>
	<p>
		<label>Picture Attribution:</label>
		<textarea name='picture_attr'></textarea>
	</p>
	<p>
		<input type='submit', value='Add Instrument'>
		<input type='button', value='Cancel',
			onclick="window,location.href='{{url_for('showCategory', category_id=category_id)}}' ">
	</p>
</form>

{% endblock %}
