{% extends "layout.html" %}
{% block main %}

<h1>Instrument Details</h1>

<div>
    <p>Name: {{instrument.name}}</p>
    <p>Description: {{instrument.description}}</p>
    <p>Category: {{category.name}}</p>
    <p>
    	<a href="{{url_for( 'editInstrument', category_id=category.id, instrument_id=instrument.id)}}">Edit</a> |
    	<a href="{{url_for( 'deleteInstrument', category_id=category.id, instrument_id=instrument.id)}}">Delete</a>
    </p>
    <p>
    	<a href="{{url_for( 'showCategory', category_id=category.id)}}">Return to Orchestra</a>
</div>

{% endblock %}